<div class="container pt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/usertype/index">Tipos de Utilizadores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edição : {{tipoutilizador.nome}}</li>
        </ol>
    </nav>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header p-5 card_userTypes_css">
                    <div class="d-flex flex-row">
                        <h1 class="alert alert-light" style="color: #17a2b8">Edição : {{tipoutilizador.nome}}</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <form action="/admin/usertype/update" method="POST">
                            <hr class="bg-info">

                            <input type="hidden" name="id" value="{{tipoutilizador._id}}">

                            <div class="pt-2 col-md-6">
                                <label for="nome">Nome:</label>
                                <input type="text" id="nome" name="nome" placeholder="Nome " class="form-control" value="{{tipoutilizador.nome}}">
                            </div>

                            <div class="pt-2 col-md-10">
                                <label for="slug">Descricão:</label>
                                <input type="text" id="descricao" name="descricao" placeholder="descricao " class="form-control" value="{{tipoutilizador.descricao}}">
                            </div>

                            <div class="pt-3 col-md-8">
                                <button type="submit" class="btn btn-info float-left">Guardar <i class="far fa-save"></i></button>
                            </div>

                        </form>
                        <a href="/admin/usertype/index" role="button">
                            <button class="btn btn-outline-danger ml-1">Voltar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>